body {
  font-family: sans-serif;
  font-family: Helvetica;
  margin:50px;
};

a:link {color:#527483;}      /* unvisited link */
a:visited {color:#a1bd68;}  /* visited link */
a:hover {color:#54af62;}  /* mouse over link */
a:active {color:#85db24;}  /* selected link */

.query {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    color: #475b6b;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 9.5px;
    font-size: 12px;
};